*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
}

body{
    background-color: #ffffff
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

header .btn-contato button, .hero-site button, .hoteis button{
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    transition: .5s;
}

header .btn-contato button:hover, .hero-site button:hover, .hoteis button:hover{
    background-color: #ffffff;
    color: #793799;
}   

/*  Estilo Header */
header{
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;

    transition: .2s;
}


header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 60px;
    align-items: center;
    margin-top: 20%;
}


/* Estilo do menu dinâmico */


header{
    background-color: #793799;
    padding: 15px 0;
}

header.rolar .menu-desktop nav ul li a{
    color: #ffffff;
}

header.rolar .btn-contato button{
    border: 1px solid #ffffff;
    color: #ffffff;
}
header.rolar .btn-contato button:hover{
    background-color: #ffffff;
    color:#793799;
}

header.rolar .logo .logo-roxa{
    display: none;
}
header.rolar .logo .logo-branca{
    display: block;
}

/* ------------------ */

header .menu-desktop nav ul{
    list-style-type: none;

}

header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.menu-desktop nav a:hover{
    transform: scale(1.05);
}

header .btn-contato button{
    width: 140px;
    height: 50px;
}

/* estilo do  btn menu mob !*/

header .btn-menu-mob{
    display: none;
    position: relative;
    z-index: 9999999999999999999;
}

header .btn-menu-mob div{
    background-color: #ffffff;
    height: 3px;
    margin: 10px 0;
    transition: .2s;
}


header .btn-menu-mob .line-menu-mob-1{
    width: 30px;
}

header .btn-menu-mob .line-menu-mob-2{
    width: 20px;
}

header.rolar .btn-menu-mob div{
    background-color: #fff;
}

header .btn-menu-mob .line-menu-mob-1.ativo1{
    transform: rotate(45deg) translate(30%);
}

header .btn-menu-mob .line-menu-mob-2.ativo2{
    transform: rotate(-45deg) translate(30%);
    width: 30px;
}

/* estilo menu mob !*/

header .menu-mobile{
    width: 0;
    height: 0;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow: hidden;
    transition: .4s;

}

header .menu-mobile nav{
    width: 100%;
}

header .menu-mobile nav ul{
    list-style-type: none;
}

header .menu-mobile nav a{
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    padding: 20px 0;
    display: block;
    transition: .8s;
}

header .menu-mobile nav a:hover{
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 0 20px #fff;
}

header .menu-mobile.abrir{
    width: 100%;
    height: 100vh;
}

body.no-overflow{
    overflow: hidden;
}


/* Estilo do hero */

section.hero-site {
    height: 132vh; /* Altura total da viewport */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
    margin-top: -1%;
    text-align: center;
    font-size: 40px;
}
  
.hero-site .txt-hero{
    font-size: 30px;
    font-weight: 300;
    margin: 20px;
    color: #000000;
    justify-content: center;
}

  
.hero-site .tst-hero{
    font-size: 40px;
    font-weight: 300;
    margin: 20px;
    color: #fff;
}
  
.hero-site .txt-hero p{
    margin-top: 10px;
}

.video{
    margin-top: 2%;
    margin-bottom: 2%;
}


/* Estrutura */
section.estrutura{
    height: 89vh; /* Altura total da viewport */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000;
    margin-top: -2%;
    text-align: center;
    font-size: 40px;
}

.estrutura .tst-hero{
    font-size: 30px;
    font-weight: 300;
    margin: 20px;
    color: #ffffff;
    justify-content: center;
    padding-top: 2%;
}


.hero-site .tst-hero {
    font-size: 40px;
    font-weight: 300;
    margin: 20px;
    color: #000000;

}


/* Por trás das câmeras */
section.equipe{
    height: 100vh; /* Altura total da viewport */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
    margin-top: 2%;
    text-align: center;
    font-size: 40px;
}

.equipe .tdt-hero{
    font-size: 30px;
    font-weight: 300;
    margin: 20px;
    color: #000000;
    justify-content: center;
}

.equipe .img-itens img {
    max-width: 49%;
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove espaços extras ao redor da imagem */
    margin: 0 auto; /* Centraliza a imagem */
}




/* Visão */
section.visao{
    height: 125vh; /* Altura total da viewport */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000;
    margin-top: -6%;
    text-align: center;
    font-size: 40px;
}

.visao .tpt-hero{
    font-size: 30px;
    font-weight: 300;
    margin: 20px;
    color: #ffffff;
    margin-left: 30px;
    margin-right: 40px;
    padding: 30px 0;
}

/* Estilização das imagens */
.img-itens img {
    width: 150%; /* Ajusta a largura para 90% do contêiner */
    max-width: 1288px; /* Limita a largura máxima */
    height: auto; /* Mantém a proporção da imagem */
    display: block;
    margin: 20px auto; /* Centraliza a imagem horizontalmente */
    margin-bottom: 5%;
}

/* Estilo rodapé */
footer{
    background-color: #793799;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

footer .top-footer button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.5s;
}

footer .top-footer button:hover{
    background-color: #ffffff;
    color: #793799;
}

footer .middle-footer{
    margin: 20px 0;
}

footer .middle-footer a{
    color: #fff;
    margin: 0 15px;
}

footer .bottom-footer{
    border-top: 2px solid #fff
}

footer .bottom-footer p{
    color:#fff;
    margin: 10px;
}
  

